body 
{
    background-image:url(/Images/duckbackground.png);
    background-position:center;
    
}

#Banner
{
    
    background-image:url(/Images/duckbanner.png);
    height:100px;
    background-repeat:no-repeat;
    background-position:center;
    
}

#leftside
{
    position:absolute;
    background-image:url('/Images/greenclear.png');
    width:13%;
    float:left;
    height:356px;
    border:medium solid #bbdbb6;
    top: 115px;
    left: 10px;
}

#maincontent
{
    position:absolute;
    top:50px;
    right:425px;
    background-image:url(/Images/greenclear.png);
    width:50%;
    float:right;
    position:relative;
    height:1000px;
    border:solid;
    border-width:medium;
    border-color:#bbdbb6;
    font-family:Tahoma;
    padding:30px;
}

